.container {
    display: block;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
}

#done-button {
    font-size: large;
    font-weight: bold;
    color: #4f99c4;
}

.header-wrapper {
    width: 100%;
}

.header-wrapper, .header-left-wrapper {
    display: flex;
    align-items: center;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-wrapper .header-left-wrapper, .header-wrapper .done-button-wrapper {
    margin-top: 10px;
}

.header-left-wrapper {
    margin-left: 10px;
    align-items: center;
}

.header-left-wrapper .create-new-product-wrapper {
    margin-left: 10px;
}

.create-new-product-wrapper span {
    font-size: x-large;
}

.done-button-wrapper {
    margin-right: 10px;
}

.new-product-form-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
}

.new-product-form-wrapper form {
    width: 100%;
}

.new-product-form-wrapper form input[type=text],[type=number] {
    height: 40px;
    font-size: large;
    border: solid #1a414f 3px;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=file] {
    margin-left: 10px;
    padding: 5px;
}

.price-quantity-wrapper {
    width: 100%;
    display: flex;
}

#product-price, #product-quantity {
    width: 50%;
}

.new-product-form-wrapper form input:focus {
    outline: #1a414f;
}